{% extends 'base.twig' %}
{% block content %}

<section class="sec-user" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 part-image">
                <div class="image" style="background-image: url('{{ TimberImage(options_c_image).src }}')"></div>
            </div>
            <div class="col-12 col-md-6 part-content">
                <h2 class="sec-title">ติดต่อเรา</h2>
                <div class="box-user">
                    <div class="box-user__image"><img src="{{ theme.path }}/images/account.png" class="qrcode" alt="qrcode"></div>
                    <div class="box-user__text">
                        <h3>{{ options_c_title }}</h3>
                    {{ options_c_content }}</div>
                </div>
                <div class="box-contact-wrap">
                    {% for box in options_c_group %}
                    <div class="box-contact" data-aos="fade-up" data-aos-duration="1000">
                        <div class="box-contact__qrcode">
                            <img src="{{ TimberImage(box.c_qrcode).src }}" class="qrcode" alt="qrcode">
                        </div>
                        <div class="box-contact__btn">
                            <a href="{{ box.c_link }}" target="_blank" class="box-contact__lineid btn">{{ box.c_id }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-contact">
    <div class="container">
        
    </div>
</section>
{% endblock %}